/* For event page */
.overlay {
  color: #fff;
  position: absolute;
  z-index: 2;
  top: 46%;
  left: 0;
  width: 100%;
  text-align: center;
}

.overlay-single-event {
  color: #fff;
  position: absolute;
  z-index: 2;
  top: 36%;
  left: 0;
  width: 100%;
  text-align: center;
}

.navbar-transparent {
  position: absolute;
  top: 20px;
  left: 5%;
  z-index: 99;
  width: 90%;
  background: transparent;
}

.nav-item {
  padding: 10px;
}

@media only screen and (max-width:500px) {
  .overlay {
    color: #fff;
    position: absolute;
    z-index: 2;
    top: 26%;
    left: 0;
    width: 100%;
    text-align: center;
  }

  .overlay-single-event {
    color: #fff;
    position: absolute;
    z-index: 2;
    top: 26%;
    left: 0;
    width: 100%;
    text-align: center;
  }
}

/* Event filter */
.gallery-title {
  font-size: 36px;
  color: #42B32F;
  text-align: center;
  font-weight: 500;
  margin-bottom: 70px;
}

.gallery-title:after {
  content: "";
  position: absolute;
  width: 7.5%;
  left: 46.5%;
  height: 45px;
  border-bottom: 1px solid #5e5e5e;
}

.filter-button {
  font-size: 18px;
  border: 1px solid #dc3545;
  border-radius: 5px;
  text-align: center;
  color: #dc3545;
  margin-bottom: 30px;
  background-color: transparent;
}

.filter-button:hover {
  font-size: 18px;
  border: 1px solid #dc3545;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  background-color: #dc3545;
}

.btn-default:active .filter-button:active {
  background-color: #42B32F;
  color: white;
}

.port-image {
  width: 100%;
}

.gallery_product {
  margin-bottom: 30px;
}

header .navbar {
  padding: 20px 0;
  transition: all .3s;
}

header .download,
header .title {
  position: absolute;
  right: 0;
  left: 0;
  margin-left: 15%;
  padding-left: 0;
  list-style: none
}

header .navbar-dark .navbar-nav .nav-link {
  color: white;
}

header .navbar-dark .navbar-nav .nav-link:focus,
header .navbar-dark .navbar-nav .nav-link:hover {
  color: #d53434;
  transition: all .3s;
}

header .navbar-brand {
  font-weight: 700;
  text-transform: uppercase
}

header .title {
  z-index: 15;
  z-index: 999;
  bottom: 46%;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15%;
  -ms-flex-pack: center;
  justify-content: center
}

header .title h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-right: -40px;
  letter-spacing: 5px;
  color: white;
  text-align: center;
}

header .full-screen {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover
}

header .download {
  z-index: 15;
  z-index: 999;
  bottom: 20%;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15%;
  -ms-flex-pack: center;
  justify-content: center
}

header .download a {
  display: inline-block;
  width: 250px;
  margin: 0 10px
}

header .download .btn-latest {
  padding: 15px;
  color: #fff;
  border: 1px solid #dedede
}

header .download .btn-light {
  padding: 15px;
  color: #fff;
  border: 0;
  background-image: linear-gradient(to right, #b8cbb8 0, #b8cbb8 0, #b465da 0, #cf6cc9 33%, #ee609c 66%, #ee609c 100%)
}

header .download .btn-light:hover {
  opacity: .8
}

@media only screen and (max-width:480px) {
  header .title {
    display: block;
  }

  header {
    height: 100%;
  }

  header .container {
    padding-right: 15px !important;
    padding-left: 15px !important
  }

  header .title {
    text-align: center;
  }

  header .title h1 {
    font-size: 1.2rem;
    margin-right: 5px;
    letter-spacing: 2px;
    line-height: 30px;
    color: white;
    padding-top: 150px;
  }

  header .download a {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0;
  }

  header .title {
    z-index: 15;
    z-index: 999;
    bottom: 41%;
    display: -ms-flexbox;
    display: flex;
    margin-right: 15%;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .carousel-control-next,
  .carousel-control-prev {
    margin-left: 20px;
    margin-right: 30px;
  }
}

@media only screen and (max-width:991px) {
  .navbar-collapse {
    background-color: #2e2e2f;
    padding: 20px 0px 20px 30px;
  }
}

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler:focus {
  border: none;
  outline: none;
}

.carousel-indicators {
  bottom: 90px;
}

.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
}

.mouse {
  width: 25px;
  height: 45px;
  border: 2px solid #fff;
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -12.5px;
  border-radius: 12px;
}

@-webkit-keyframes rotateplane {
  0% {
    top: 10px;
  }

  25% {
    top: 14px;
  }

  50% {
    top: 19px;
  }

  75% {
    top: 24px;
  }

  100% {
    top: 28px;
  }
}

@-moz-keyframes rotateplane {
  0% {
    top: 10px;
  }

  25% {
    top: 14px;
  }

  50% {
    top: 19px;
  }

  75% {
    top: 24px;
  }

  100% {
    top: 28px;
  }
}

@-o-keyframes rotateplane {
  0% {
    top: 10px;
  }

  25% {
    top: 14px;
  }

  50% {
    top: 19px;
  }

  75% {
    top: 24px;
  }

  100% {
    top: 28px;
  }
}

.mouse::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  background-color: #fff;
  border-radius: 100%;
  left: 50%;
  top: 10px;
  margin-left: -2.5px;
  transition: all 0.3s ease-in;
  -webkit-animation-name: rotateplane;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s;
  /* Chrome, Safari, Opera */
  animation-name: rotateplane;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/*---------------------
 Simple3Dmove_Sample 
----------------------- */
#container {
  min-height: 100vh;
  width: 100%;
  background: black;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bec8d6', endColorstr='#ced5e0', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

#simple3D {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
}

#simple3D div {
  min-height: 1200px;
  width: 120%;
}

#simple3D div.cup-2 {
  background: url(../img/parallax1.png);
  background-repeat: no-repeat;
  transform: translateY(1200px);
}

#simple3D div.cup-3 {
  background: url();
  background-repeat: no-repeat;
  transform: translateX(500px);
}

#simple3D div.cup-1 {
  background: url(../img/parallax3.png);
  background-repeat: no-repeat;
  transform: translateY(350px);
}

#simple3D div.bag-1 {
  background: url(../img/parallax4.png);
  background-repeat: no-repeat;
  transform: translateX(950px);
}

#simple3D div.bag-2 {
  background: url(../img/parallax2.png);
  background-repeat: no-repeat;
  transform: translate(650px, 200px);
}

#simple3D div.bag-3 {
  background: url(../img/parallax5.png);
  background-repeat: no-repeat;
  transform: translate(100px, 50px);
}

#content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

#header {
  padding: 100px 200px 0px 200px;
  color: white;
  text-align: center;
}

@media only screen and (max-width:991px) {
  #header {
    padding: 60px 50px 0px 60px;
    color: white;
    text-align: center;
  }
}

.parallax-img {
  width: 300px;
  padding: 5%;
}

@media only screen and (max-width:400px) {
  .parallax-img {
    width: 200px;
    padding: 5%;
  }

  .parallax-text {
    font-size: 2rem;
  }
}

@media only screen and (height:375px) {
  .parallax-img {
    width: 150px;
    padding: 2%;
  }

  .parallax-text {
    font-size: 1.5rem;
  }
}

/* Redesign of index about us -- start */

.p-scroll {
  height: 300px;
  font-size: 14px;
  font-weight: 400;
  text-align: justify;
  overflow: scroll;
  overflow: -moz-scrollbars-none;
  overflow: -moz-scrollbars-none !important;
}

@media screen and (max-width: 1920px) and (min-width: 1100px) {
  .p-scroll {
    height: 300px;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    overflow: scroll;
    overflow: -moz-scrollbars-none;
    overflow: -moz-scrollbars-none !important;
  }

  .p-scroll::-webkit-scrollbar {
    display: none;
  }
}

.p-scroll::-webkit-scrollbar {
  display: none;
}

/* Redesign of index about us -- end */

.p-scroll-wwd {
  height: 300px;
  overflow: scroll;
  overflow: -moz-scrollbars-none;
}

/* What we do */
.what-we-do {
  background: url(../img/wdwd2.png);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20vh;
}

.what-we-do-xs {
  background: url(../img/wdwd1.png);
  /* Full height */
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wwd {
  padding-top: 10%;
}

@media screen and (max-width: 1920px) and (min-width: 1400px) {
  .wwd {
    padding-top: 20%;
  }
}

.wdwd-text-xs {
  color: #d53434;
  margin: auto;
  font-weight: bold;
}

/* Owl carousel */
.owl-prev,
.owl-next {
  height: 50px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
}

.owl-next {
  right: -40px;
}

.owl-prev {
  left: -40px;
}

.partner-xs-text {
  font: 2rem;
}

/* Footer */
.footer {
  background-color: black;
  height: 100vh;
}

.footer-padding-top {
  padding-top: 20%;
}

.copyright {
  padding-top: 18%;
}

@media only screen and (max-width:500px) {
  .footer {
    background-color: black;
    height: 100vh;
  }
}

/* Event Page */
.btn-radius {
  border-radius: 50px;
  margin: 10px;
  padding: 5px 40px 5px 40px;
}

/* Single Event Page */
.center-gallery {
  display: flex;
  width: 100vw;
  height: 21vh;
  background-color: black;
  background-image: url();
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Glitch */
.center__text {
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 120px;
  text-transform: uppercase;
}

.glitch {
  position: relative;
  color: white;
  mix-blend-mode: lighten;
  overflow: hidden;
}

.glitch:before,
.glitch:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  width: 100%;
  background: black;
  clip: rect(0, 0, 0, 0);
}

.glitch:before {
  left: -1px;
  text-shadow: 1px 0 rgba(255, 0, 0, 0.7);
}

.glitch:after {
  left: 1px;
  text-shadow: -1px 0 rgba(0, 0, 255, 0.7);
}

.glitch:hover:before {
  text-shadow: 4px 0 rgba(255, 0, 0, 0.7);
  animation: glitch-loop-1 0.8s infinite ease-in-out alternate-reverse;
}

.glitch:hover:after {
  text-shadow: -5px 0 rgba(0, 0, 255, 0.7);
  animation: glitch-loop-2 0.8s infinite ease-in-out alternate-reverse;
}

@-webkit-keyframes glitch-loop-1 {
  0% {
    clip: rect(36px, 9999px, 9px, 0);
  }

  25% {
    clip: rect(25px, 9999px, 99px, 0);
  }

  50% {
    clip: rect(50px, 9999px, 102px, 0);
  }

  75% {
    clip: rect(30px, 9999px, 92px, 0);
  }

  100% {
    clip: rect(91px, 9999px, 98px, 0);
  }
}

@keyframes glitch-loop-1 {
  0% {
    clip: rect(36px, 9999px, 9px, 0);
  }

  25% {
    clip: rect(25px, 9999px, 99px, 0);
  }

  50% {
    clip: rect(50px, 9999px, 102px, 0);
  }

  75% {
    clip: rect(30px, 9999px, 92px, 0);
  }

  100% {
    clip: rect(91px, 9999px, 98px, 0);
  }
}

@-webkit-keyframes glitch-loop-2 {
  0% {
    top: -1px;
    left: 1px;
    clip: rect(65px, 9999px, 119px, 0);
  }

  25% {
    top: -6px;
    left: 4px;
    clip: rect(79px, 9999px, 19px, 0);
  }

  50% {
    top: -3px;
    left: 2px;
    clip: rect(68px, 9999px, 11px, 0);
  }

  75% {
    top: 0px;
    left: -4px;
    clip: rect(95px, 9999px, 53px, 0);
  }

  100% {
    top: -1px;
    left: -1px;
    clip: rect(31px, 9999px, 149px, 0);
  }
}

@keyframes glitch-loop-2 {
  0% {
    top: -1px;
    left: 1px;
    clip: rect(65px, 9999px, 119px, 0);
  }

  25% {
    top: -6px;
    left: 4px;
    clip: rect(79px, 9999px, 19px, 0);
  }

  50% {
    top: -3px;
    left: 2px;
    clip: rect(68px, 9999px, 11px, 0);
  }

  75% {
    top: 0px;
    left: -4px;
    clip: rect(95px, 9999px, 53px, 0);
  }

  100% {
    top: -1px;
    left: -1px;
    clip: rect(31px, 9999px, 149px, 0);
  }
}

/* Gallery Image Hover */
.c-hero-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
}

@media (max-width: 960px) {
  .c-hero-flex {
    flex-flow: column nowrap;
  }

  .c-hero-flex__item {
    width: 100%;
  }
}

.c-hero-flex__item {
  flex-grow: 1;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  transition: .2s all;
  cursor: pointer;
}

@media (min-width: 961px) {
  .c-hero-flex__item {
    height: 100%;
  }
}

.c-hero-flex__item:hover {
  flex-grow: 2;
  box-shadow: inset 0 0 0 100vmax rgba(175, 0, 100, 0.7);
}

.c-hero-flex__title {
  text-transform: uppercase;
  letter-spacing: .075em;
  color: #fff;
  transition: .2s all;
}

.schedule {
  background-color: black;
}

.bio {
  background-color: black;
}

/* Skew Effect */
/* 3D Transform */
.tdimension {
  width: 380px;
  height: 380px;
  margin: 0px auto 40px auto;
  perspective: 1000px;
}

.tdimension a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/carousel2.jpeg");
  background-size: cover;
  transform-style: preserve-3d;
  transform: rotateX(30deg);
  transition: all 0.8s;
}

.tdimension:hover a {
  transform: rotateX(5deg);
}

.tdimension a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
  transform: rotateX(20deg);
  transform-origin: bottom;
}

.artist-img {
  width: 100%;
  margin: auto;
}

/* Event Video */
.event-video {
  background-color: black;
}

/* Event Details */
.event-details {
  background-color: black;
}

/* Media */
.media {
  padding-top: 150px;
  background-color: black;
}

.media-text {
  color: #FF0000;
  font-family: 'Montserrat', sans-serif;
}

.media-img {
  width: 100%;
}

/* Shop */
.shop {
  padding-top: 150px;
  background-color: #a01d26;
}

.shop-img {
  width: 100%;
  box-shadow: 5px 5px 30px #1a1a1a;
}

/* Checkout */
.checkout {
  background-color: #1a1a1a;
  height: 100%;
}

.checkout-padding {
  padding-top: 180px;
  padding-bottom: 50px;
}

.checkout-text {
  color: black;
  border-bottom: none;
}

.checkout-text:hover {
  color: grey;
  border-bottom: none;
}

/* ticket */
.ticket {
  height: 100%;
}

.ticket-image {
  height: 100%;
  width: 100%;
}

.ticket-text-line-height {
  line-height: 8px;
}

.ticket-price-background {
  background-color: red;
  padding: 30px 30px 30px 30px;
}

/* Contact Us */
.contact-us {
  background-color: #000000;
  min-height: 100vh;
}

.contact-text {
  font-size: 5rem;
  font-weight: bold;
  color: #ec1c21;
}

.contact-text-padding {
  padding-top: 180px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 850px) {
  .contact-text {
    font-size: 7rem;
  }
}

@media only screen and (max-width: 850px) {
  .contact-text {
    font-size: 4rem;
  }

  .contact-us {
    background-color: #000000;
    text-align: center;
  }
}

.copyright-contact {
  padding-top: 2%;
  color: white;
}

.contact-btn {
  background: #ec1c21;
  width: 100%;
  border-radius: 0px;
}

/* Register */
.register {
  background-color: #1a1a1a;
  height: 100%;
}

.register-text {
  padding-top: 80px;
  padding-bottom: 30px;
  font-size: 2rem;
  font-weight: bold;
  color: #ec1c21;
}

.register-btn {
  width: 100%;
  border-radius: 0px;
}

/* Social Media Hover */
.facebook:hover {
  color: #3b5998;
}

.google:hover {
  color: #d34836;
}

.twitter:hover {
  color: #1dcaff;
}

.youtube:hover {
  color: #cc181e;
}

.instagram:hover {
  color: #2C6A93;
}

/* Dashboard */
.dashboard {
  background-color: black;
  padding-top: 150px;
  padding-bottom: 50px;
}

.nav-height {
  height: 90%;
}

.dashboard-img {
  height: 250px;
}

.black-bg {
  background: black;
  color: white;
}

.white-bg {
  color: black;
  background: white;
}

.input-container {
  background: white;
  color: black;
}

.btn-reg {
  background: #C4250A;
}

.btn-reg:hover {
  background: red;
}

.btn-facebook {
  background: #3B5998;
}

.btn-facebook:hover {
  background: #517AD1;
  color: white;
}

.btn-google {
  background: #D44638;
}

.btn-google:hover {
  background: #FFFFFF;
}

.btn-co {
  color: #d9534f;
}

.btn-co:hover {
  color: white;
}

.c-header {
  background: #C4250A;
}

.bor-l {
  border-left: 1px solid white;
}

.bor-r {
  border-right: 1px solid white;
}

.bor-t {
  border-top: 1px solid white;
}

.bor-b {
  border-bottom: 1px solid white;
}

.font-sm {
  font-size: 0.9em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.sc-links {
  color: #E3E3E3;
}

.font-black {
  color: black;
}

.btn-custom {
  background: #3C3A3D;
  color: white;
}

.btn-custom:hover {
  color: #3C3A3D;
  background: white;
}

.shaded {
  background: grey;
}

.p-scroll {
  height: 200px;
  overflow: scroll;
  overflow: -moz-scrollbars-none;
}

.p-scroll::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width:500px) {
  .p-scroll {
    height: 150px;
    overflow: scroll;
    overflow: -moz-scrollbars-none;
  }

  .p-scroll::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (max-width:500px) {
  .p-scroll-wwd {
    height: 350px;
    overflow: scroll;
    overflow: -moz-scrollbars-none;
  }

  .p-scroll::-webkit-scrollbar {
    display: none;
  }
}

.open {
  height: 100%;
}

.event-card-img-top {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.test {
  height: auto;
  width: auto;
}

.footer-header {
  color: #FF0000;
}

.wwd-text {
  font-size: 0.7em;
}

.navbar-collapse.collapse.show {
  max-height: 280px;
  overflow-y: auto;
}

.partner-logo {
  height: 122px;
  width: 181px;
}

@media (min-width : 0px) and (max-width : 853px) and (orientation : landscape) {
  header .title h1 {
    font-size: 1.0rem;
    font-weight: 700;
    letter-spacing: 3px;
  }

  .parallax-img {
    width: 150px;
    padding: 0%;
  }

  .parallax-text {
    font-size: 1.8rem;
  }

  .p-scroll {
    height: 100px;
    overflow: scroll;
    overflow: -moz-scrollbars-none;
  }

  .p-scroll::-webkit-scrollbar {
    display: none;
  }
}

/* background color of the people marked present */
.present {
  background: #42B32F;
}

/* The below CSS will vertically center the carousel images */

.owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}

.owl-carousel .owl-item img {
  width: 100%;
  height: 100%;
}

.push-down {
  margin-top: 100px;
}

/* Modal CSS */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}


/* Album CSS */
.album-background {
  /* background-image: url(../img/wdwd1.png); */
  background: linear-gradient(rgba(255, 0, 0, 0.6), rgba(255, 0, 0, 0.3)), url(../img/wdwd1.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay-album {
  color: #fff;
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 0;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width:500px) {
  .overlay-album {
    color: #fff;
    position: absolute;
    z-index: 2;
    top: 25%;
    left: 0;
    width: 100%;
    text-align: center;
  }
}

.album-padding-top {
  padding-top: 15%;
}

@media only screen and (max-width:500px) {
  .album-text-size {
    font-size: 0.8em;
  }
}

.album-pics {
  background-color: #141414;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Cart icon's badge */
.badge-cart {
  position: relative;
  margin-left: 130%;
  bottom: 200%;
  background-color: #D93730;
  font-size: 0.8em;
  padding: 3px;
  border-radius: 25%;
}

.badge-cart:hover {
  background-color: white;
}

@media only screen and (min-width:992px) {
  .cart-margin-left {
    background-color: white;
    padding: 15px;
    border-radius: 50px;
  }
}

.header-alt {
  height: 120px;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 200;
  width: 100%;
  transition: all 0.5s;
}

.chip img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.stylish-input-group .input-group-addon {
  background: white !important;
}

.stylish-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #ccc;
}

.stylish-input-group button {
  border: 0;
  background: transparent;
}

.product-img {
  width: 100%;
  box-shadow: 5px 5px 30px #1a1a1a;
}

.black-font {
  color: gray;
}

.hidden {
  display: none;
}

/* Product purchase confirm and fail CSS */
@media only screen and (max-width:700px) {
  .product-purchase-confirm {
    background-color: black;
    padding-top: 105px;
  }
}

@media only screen and (max-width:700px) {
  .product-purchase-fail {
    background-color: black;
    padding-top: 105px;
  }
}

.black-button {
  background-color: #141414;
  color: white;
  /* box-shadow: 5px 5px 20px 0 red; */
}

.black-button:hover {
  color: #FF0000;
  background-color: #222222;

}

.edit {
	padding-top: 7px;	
	padding-right: 7px;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}

.image-block:hover .edit {
	display: block;
}

.edit a {
  color: white;
}

html {
  overflow: -moz-scrollbars-none !important;
}

.p-scroll p {
  overflow: -moz-scrollbars-none !important;
}